{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<h2>API 3DSTEST</h2>
<iframe id="tdsMmethodTgtFrame" name="tdsMmethodTgtFrame" style="visibility: hidden; width: 1px; height: 1px;" xmlns="http://www.w3.org/1999/xhtml">    <!--.--></iframe><form id="tdsMmethodForm" name="tdsMmethodForm" action="https://3ds-acs.test.modirum.com/mdpayacs/3ds-method" method="post" target="tdsMmethodTgtFrame" xmlns="http://www.w3.org/1999/xhtml">    <input type="hidden" name="3DSMethodData" value="eyAidGhyZWVEU1NlcnZlclRyYW5zSUQiIDogImIyYzAwNTM0LWM3ODUtNWEyOC04MDAwLTAwMDAwMzc4YWZjYiIsICJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIiA6ICJodHRwczovLzQyYjYtMTQ4LTI0NC0xNzAtMTU4Lm5ncm9rLWZyZWUuYXBwL3dlYmhvb2szZHMiIH0"/>    <input type="hidden" name="threeDSMethodData" value="eyAidGhyZWVEU1NlcnZlclRyYW5zSUQiIDogImIyYzAwNTM0LWM3ODUtNWEyOC04MDAwLTAwMDAwMzc4YWZjYiIsICJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIiA6ICJodHRwczovLzQyYjYtMTQ4LTI0NC0xNzAtMTU4Lm5ncm9rLWZyZWUuYXBwL3dlYmhvb2szZHMiIH0"/>    <script type="text/javascript">
document.getElementById("tdsMmethodForm").submit();                     </script></form>

{% endblock %}